header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 100px;
}

header > .top-left {
    display: flex;
    align-items: center;
    margin-right: 650px;
}


ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;

}

nav {
    margin-right: 100px;

}

.notifications {
    margin-right: 5%;
    display: flex;
    align-items: center;
    gap: 20px
}

.star-compass {
    background-color: orange;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.star-compass > .fa.fa-compass {
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.my-profile {
    margin-right: 20px;
}

header > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main  h1{
    margin-bottom: 70px;
 }

 .about-info {
    display:flex;
    align-items: center;
    gap: 70px;
    width: 45%;
    margin-bottom: 40px;
 }

.about-info > .info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;
}

.line {
    position: relative;
    margin-left: 22%;
}

.line::before {
    content: '';
    display: inline-block;
    width: 4px;
    border-radius: 2px;
    height: 60%;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: -20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .bottom {
    display:flex;
    width: 70%;
}

.bottom > .box {
    width: 25%;
    height: 200px;
    display: flex;
    padding: 0 30px;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
}

.bottom > .box:nth-child(1) {
background-color: #313ef7;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.bottom > .box:nth-child(2) {
    background-color: #fe7926;
}

.box:nth-child(3) {
    background-color: #e4dffc;
    color: #313ef7;
}

.bottom > .box:nth-child(4) {
    background-color: #196e86;
    border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}