body {
    background:url('/img/background.jpg') no-repeat center center fixed;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

a {
   text-decoration: none;
   color: white;
}

header {
   font-weight: bold;
} 

 main .main-title p{
    font-size: 80px;
    margin-bottom: -20px;
    text-align: center;
 }

 h1 {
    font-size: 100px;
 }
 
 .about-info > div > i {
    font-size: 60px;
    color: orange;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
 }

 .info-text > p:nth-child(1) {
   font-size: 40px;
   font-weight: bold;
 }

